.vacation-name-input {
    width: 300px;
}

#start-date, #end-date {
    width: 150px;
    margin: 10px;
}

.weather-icon {
    display:block;
    width: 100px;
}

.forecast-weather-data, .location, .day-date, .day-activity {
    font-weight: 700;
}

.day-date {
    font-size: 1.5rem;
}
